*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size:1rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
input{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
body{
    background-color: #CBF1F5;
}
li{
    list-style-type: none;
}
.active{
    background-color: lightgrey; ;
}
.center{
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}
.btn{
    width: 138px;
    height: 45px;
    /* padding:10px 0px; */
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #E3FDFD;

}
header{
    width: 100%;
    max-height: 126px;
    z-index: 100;
    min-height: 60px;
}
#navbar{
    background-color: #E3FDFD;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}
.sticky{
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.15);
    z-index: 99;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.middle-side{
    display: flex;
    gap: 10vw;
}
ul li{
    list-style-type: none;
}
ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 550;
}
ul li a:hover{
    text-decoration: underline;
}

.left-side {
    /* margin: 16px; */
    color: black;
    position: relative;

}
.left-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    
}
.left-btn:hover{
    background-color: #7884b8;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.user-menu{
    /* margin-right: 10px; */
    cursor: pointer;
}
.user-content{
    border: 1px solid #b9b8b8;;
    padding: 16px;
    border-radius: 30px;
    cursor: pointer;
}
.user-content:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 8px -4px, rgba(0, 0, 0, 0.3) 0px 4px 8px -8px;
}

.hide{
    display: none;
}
.dropdown{
    position: absolute;
    background: #E3FDFD;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    width: 215px;
    top: 70px;
    right: 0px;
    border-radius: 10px;
    transition: transform 0.6s ease-in;
   
}
.dropdown ul{
    list-style-type: none;
}
.username{
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 8px;
}
.dropdown ul li{
    padding: 20px;
    border-bottom: 0.2px solid #94d4ff;
}
.main{
    margin-top: 50px;
}
.row{
    /* margin-bottom: 1.25rem; */
    display: flex;
    flex-wrap: wrap;
}
.row>*{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1rem * .5);
    padding-left: calc(1rem* .5);
}
.column{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.column-2{
    flex: 0 0 auto;
    width: 75%;
}
.column-3{
    flex: 0 0 auto;
    width: 25%;
}
.main-title h1{ 
    font-size: 1.2em ;
    line-height: 1.875rem ;
    font-weight: 550 ;
    word-break: break-word ;
    text-transform:uppercase;
    text-align: center;
}
.product-image{
    position: relative;
}
.col-1{
    flex: 0 0 auto;
    width: 50%;
    /* padding: 0; */
}
.product-image img{
    height: 350px;
    width: 100%;
    border-radius:30px  ;
    object-fit: cover;
}
.col-2{
    flex: 0 0 auto;
    width: 100%;
}
.room-title{
    font-size: 24px;
    margin-bottom: 0.4rem;
    font-weight: 400;
}
.room-type,.room-location{
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}
.locationpin{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
}
.box-shadow{
    padding: 20px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 8px -4px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
    border-radius: 30px;
    background-color: #fff;
}
.c1{
    flex: 0 0 auto;
    width: 25%;
}
.amenities{
    display: flex;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    flex-direction: column;
    border-right: 1px #dee2e6 solid;
    padding: 0 23px;
}
.c1:nth-child(4n) .amenities{
    border-right: 0 ;
}
.amenities-title{
    font-size: 18px;
    font-weight: 400;
    color: #1f3a54;
}
.amenities-content{
    font-size: 15px;
    margin-top: 0.1rem;
    color: #f65104;
}
.row h5{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-left: 30px;
}
#map{
    margin-top: 16px;
    border-radius: 30px;
    height: 335px;
}